.tweet:after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: red;
  left: 0;
  bottom: 0;
}

.tweet {
  p {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  figure {
    display: inline-block;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
    }
  }
}
