* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #ffffff;
  color: #707070;
  font-size: 1.4em; /* 14 */
  line-height:1.85; /* 26 */
  text-align:center;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100%;
}

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
blockquote,
p,figure,
nav,header,article,time,
img,.slideshow,
pre,table,fieldset,hr
{
  margin-bottom:1.85rem;
}

h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty,
p:empty
{
  margin-bottom:0 !important;
}

img {
  vertical-align: baseline;
  -ms-interpolation-mode: bicubic;
}

a, a:link, a:visited, a:hover, a:active {
  color:#707070;
  text-decoration:none;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color:#000000;
}

.pag,
a.pag,
a.pag:link,
a.pag:visited,
a.pag:hover,
a.pag:active,
span.pag a,
span.pag a:link,
span.pag a:visited,
span.pag a:hover,
span.pag a:active
{
  text-transform:uppercase;
  letter-spacing:1px;
  font-size:11px;
}

a.mute,
a.mute:link,
a.mute:visited,
a.mute:hover,
a.mute:active
{
  color: #707070;
}

a.mute:hover { color:#000000; }

hr {
  clear: both;
  padding: 0;
  height: 1px;
  border: 0;
  background:transparent;
  border-bottom:1px solid #eeeeee;
}

h1,h2,h3,h4,h5,h6 {
  color:#000000;
  letter-spacing:2px;
  text-transform:none;
  font-weight:normal;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color:inherit !important;
}

h1 {
  font-size:1.6rem;
  line-height:1.625;
}

h1 a, h1 a:link, h1 a:visited, h1 a:hover, h1 a:active {
  color:#000000 !important;
}

h2 {
  font-size:1.5rem;
  line-height:1.73;
}

h2.site_tagline {
  text-transform:uppercase;
  letter-spacing:2px;
  font-size:0.9rem;
}

h3 {
  font-size:1.3rem;
  line-height:1.85rem;
  letter-spacing:1px;
}

h4, h5, h6 {
  font-size:0.95rem;
  line-height:1.85rem;
  letter-spacing:1px;
}

p {
  font-size:1em;
}

b, strong {
  font-weight:bold;
}

em, i {
  font-style:italic;
}

time,.time {
  font-size:0.8rem;
  letter-spacing:1px;
  text-transform:uppercase;
  text-align:center;
  width:100%;
  display:block;
}

small {
  font-size: 80%;
}

.tag:before {
  content:"#";
}

.k-note {
  font-size:1.4rem;
  font-style:italic;
}

main {
  margin-top:3.7em;
  display:block;
}

.meta,
.meta *
{
  font-size:1.1rem;
  /*line-height:2.37;*/
}

.nob {
  margin-bottom:0 !important;
}

.larr:before {
  content:"← ";
}

.rarr:after {
  content:" →";
}

.inline {
  display:inline-block;
}

.img_wrap {
  position:relative;
}

.disabled {
  opacity:0.5;
}

/* LAYOUT
   ----------------------------------------------- */

div#container {
  width:960px;
  max-width:960px;
  margin:0 auto;
  padding-top:5.55rem;
  position:relative;
  z-index: 50;
}


/* HEADERS
   ----------------------------------------------- */

header.top {
  /* let navigation push it down */
  margin-bottom:0;
}

header.top .content {
  position:relative;
}

header.page {
  margin-bottom:calc(1.85rem * 2);
}

header.page:empty {
  margin-bottom:0;
}


/* SITE TITLE
   ----------------------------------------------- */

h1.site-title
{
  font-size:2.5rem;
  font-weight:400;
  letter-spacing: 4px;
  text-transform:uppercase;
  /* .site_title_block handles this */
  margin-bottom:1.85rem;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

img.custom_logo {
  max-width:300px;
}


/* NAVIGATION
   ----------------------------------------------- */

nav#main {
  margin-bottom:1.85rem;
}

nav {
  position:relative;
}

nav ul {
  margin:0;
  padding:0;
}

nav li {
  display:inline-block;
  white-space:nowrap;
  padding:0 8px 0 8px;
}

nav a:link, nav a:visited, nav a:active {
  font-size:1.2rem;
  letter-spacing:1.5px;
  text-transform:uppercase;
  color:#707070;
}

nav a:hover {
  color:#000000;
}

nav a.k-nav-current:link,
nav a.k-nav-current:visited,
nav a.k-nav-current:active,
a.k-pagination-current:link,
a.k-pagination-current:visited,
a.k-pagination-current:active
{
  color:#000000;
}

#backtop {
  position:fixed;
  right:20px;
  bottom:20px;
  width:30px;
  height:30px;
  line-height:30px;
  text-align:center;
  display:block;
  color:#000000;
}

#pagination {
  padding-top:1.85rem;
}

nav#mob_nav {
  position:relative;
  z-index: 100;
  overflow:auto;
  width:100%;
}

.mob_nav_content {
  width:960px;
  margin-left:auto;
  margin-right:auto;
}


/* FOOTER
   ----------------------------------------------- */

footer.bot {
  display:block;
  font-size:1rem;
  padding:3.7em 0;
  clear:both;
}

footer.bot nav ul {
  margin-bottom:calc(1.85rem * 2);
}


/* BLOCKS
   ----------------------------------------------- */

.block .figimg {
  position:relative;
  display:block;
  border:0;
  padding:0;
  margin:0;
}

.block .figimg img {
  margin:0 auto;
}

.block figcaption * {
  margin:1.85rem auto;
}
.block figcaption h4,
.block figcaption li
{
  margin-top:0;
}

/* mods for includes used in grid layout */
.kpgriditem figcaption h2,
.kpgriditem figcaption .caption
{
  font-size:95%;
}
.kpgriditem .cap_width {
  width:100%;
}


/* CONTENT AREA
   ----------------------------------------------- */

div#page-desc {
  margin:0 auto 1.85rem;
}

ul.nav_content {
  margin:0 0 1.85rem;
  padding:0;
}

ul.nav_content li {
  display:inline-block;
  position:relative;
  padding:0 8px;
}

ul.nav_content li:nth-child(2) {
  display:inline;
}

ul.nav_content.split li:nth-child(1) {
  text-align:right;
}

ul.nav_content.split li:nth-child(3) {
  text-align:left;
}

.main-content {
  margin:0 auto;
  position:relative;
}

.text-content {
  width:80%;
  margin:0 auto;
}

/* ALBUMS/SETS
   ----------------------------------------------- */

.equal-grid {
  overflow:hidden;
}
.equal-grid .item {
  float:left;
  margin-right:5%;
  /*margin-bottom:1.85rem;*/
}
.equal-grid a.img {
  position:relative;
  display:block;
}
.equal-grid a.img img {
  margin-bottom:0;
}

.equal-grid.col_1 .item { clear:both;width:100%;margin-right:0; }

.equal-grid.col_2 .item:nth-of-type(n) { width:47.5%; }
.equal-grid.col_2 .item:nth-child(2n) { margin-right:0; }
.equal-grid.col_2 .item:nth-child(2n+1) { clear:both; }

.equal-grid.col_3 .item:nth-of-type(n) { width:30%; }
.equal-grid.col_3 .item:nth-child(3n) { margin-right:0; }
.equal-grid.col_3 .item:nth-child(3n+1) { clear:both; }

.equal-grid.col_4 .item:nth-of-type(n) { width:21.25%; }
.equal-grid.col_4 .item:nth-child(4n) { margin-right:0; }
.equal-grid.col_4 .item:nth-child(4n+1) { clear:both; }

.equal-grid.col_5 .item:nth-of-type(n) { width:16%; }
.equal-grid.col_5 .item:nth-child(5n) { margin-right:0; }
.equal-grid.col_5 .item:nth-child(5n+1) { clear:both; }


/* PILLAR GRID
   ----------------------------------------------- */

.kpgrid {
  margin-bottom:calc(1.85rem * 2);
}

.kpgrid_wrap {
  margin-left:auto;
  margin-right:auto;
}

.kpgrid_content {
  margin:0 auto;
}

.kpgrid_content:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.kpgriditem {
  position:relative;
  display:none;
  margin-bottom:0;
}

.kpgriditem img {
  width:100%;
  max-width:100%;
  display:none;
}

.kpgriditem img.k-lazy-loaded {
  height: auto;
}

.pillar .kpgriditem,
.pillar .kpgriditem img
{
  display: block;
}

.vid_play {
  display:block;
  visibility: hidden;
  opacity:0;
  position:absolute;
  bottom: 8px;
  left: 8px;
  z-index: 1;
  color: #fff;
  font-size: 11px;
  line-height:1.6;
  background:rgba(0,0,0,0.4);
  padding:0 5px;
  font-family:Helvetica,Arial,sans-serif;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

/* only show when image loads and if they're turned on in settings */
.kpgriditem.type_video.loaded .vid_play {
  visibility:visible;
  opacity:1;
}

.kpgriditem.loaded {}


/* TAGS, CATEGORIES
   ----------------------------------------------- */

ol.meta_list li h3, ol.meta_list li h4 {
  margin:0;
  padding:0;
  display:inline-block;
}

ol.meta_list li a {
  display:block;
  padding:0.75rem 0;
  width:100%;
  text-align: left;
  border-bottom:1px solid #eeeeee;
}

ol.meta_list li:first-child a {
  padding-top:0;
}

ol.meta_list li:last-child a {
  border-bottom:0;
}

ol.meta_list li span.count {
  font-size:1.2rem;
  float:right;
}


/* ESSAYS
   ----------------------------------------------- */

article {
  margin-left:auto;
  margin-right:auto;
  margin-bottom:calc(1.85rem * 3);
  width:75%;
}

article:last-child {
  margin-bottom: 0;
}

article figure {

}

article figure img {
  margin:0 auto;
  line-height:0;
  margin-bottom:0;
  max-width:100%;
}

article header,
article figure,
article footer,
article h1,
article h2,
article h3,
article h4,
article h5,
article h6
{
  text-align:center;
}

article ul {
  padding: 0;
  list-style:disc;
  list-style-position: inside;
}

article ol {
  list-style:decimal;
  list-style-position: inside;
}

article blockquote {
  font-style:italic;
  padding:0 3em;

}

article b, article strong {
  font-weight:bold;
}

article .article_content a:link,
article .article_content a:visited,
article .article_content a:hover,
article .article_content a:active
{
  color: #707070;
  font-weight:normal;
  text-decoration:underline;
}
article .article_content a:hover {
  color:#000000;
}

article .meta {
  text-align:center;
}

/* SLIDESHOW
   ----------------------------------------------- */

.slideshow {
  position:relative;
}

/* SOCIAL
   ----------------------------------------------- */

div#social-bttns {
  width:100%;
  overflow:auto;
  display:table;
}
div#social-bttns div.cell {
  width:50%;
  display:table-cell;
  vertical-align: bottom;
  padding-top:1.85rem;
}
div#social-bttns div.cell.left {
  padding-right:8px;
}
div#social-bttns div.cell.right {
  padding-left:8px;
}
div#social_fb {
  float:right;
}
div#social_tw {
  float:left;
  height:20px;
  margin-top:4px;
}

.social-links {
  padding-top:1.85rem;
}

.social-links li {
  display:inline-block;
}

.social-links li a {
  font-size:1.2rem;
  text-align: center;
  display:inline-block;
  color:#707070;
  padding:0 6px;
}

.social-links li a:hover {
  color:#000000;
}

.social-links li a.share-facebook {
  padding-right:5px;
}

/* SPINNER
   ----------------------------------------------- */

.spinner_pos {
  opacity: 0;
  position:absolute;
  left:50%;
  top:50%;
  height:20px;
  width:20px;
  margin-left:calc((20px / 2) * -1);
  margin-top:calc((20px / 2) * -1);
  z-index:999;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.spinner_pos.active {
  opacity: 1;
}

.spinner {
  height:100%;
  width:100%;
  margin:0 auto;
  position:relative;
  -webkit-animation: rotation 0.7s infinite linear;
  -moz-animation: rotation 0.7s infinite linear;
  -o-animation: rotation 0.7s infinite linear;
  animation: rotation 0.7s infinite linear;
  border:1px solid rgba(0,0,0,0.15);
  border-radius:100%;
}

.spinner:before {
  content:"";
  display:block;
  position:absolute;
  left:-1px;
  top:-1px;
  height:100%;
  width:100%;
  border-top:1px solid rgba(0,0,0,1);
  border-left:1px solid transparent;
  border-bottom:1px solid transparent;
  border-right:1px solid transparent;
  border-radius:100%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* more pronounced spinner for changing images */
.spinner_pos.init .spinner {
  border-color:rgba(0,0,0,0.8);
}
.spinner_pos.init .spinner:before {
  border-top-color:white;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}

/* MEDIA QUERIES
   ----------------------------------------------- */

/* Smaller than standard 960 */
@media only screen and (max-width: 1024px) {

  div#container,
  .mob_nav_content
  {
    width:960px;
  }

  /*body::before{content: "TABLET LANDSCAPE";font-weight: bold;display: block;text-align: center;background: rgba(255,255,0, 0.9);position: fixed;top: 0;left: 0;right: 0;z-index: 9999;}*/
}

/* Tablet Portrait size to standard 960 */
@media only screen and (min-width: 768px) and (max-width: 959px) {

  div#container,
  .mob_nav_content
  {
    width:728px;
  }

  article.measure_editable {
    width:100%;
  }

  /*body::before{content: "TABLET PORTRAIT";font-weight: bold;display: block;text-align: center;background: rgba(255,255,0, 0.9);position: fixed;top: 0;left: 0;right: 0;z-index: 9999;}*/
}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {

  body {
    font-size:1.2em;
  }

  h1.site_title
  {
    font-size:calc(2.5rem * 0.85);
  }

  .meta,
  .meta *
  {
    font-size:0.85rem;
  }

  div#container {
    padding-left:20px;
    padding-right:20px;
  }

  nav#main,
  #backtop
  {
    display:none;
  }

  body.k_mob_show_norm #mob_nav,
  body.k_mob_show_min #mob_nav
  {
    display:block;
    width:100%;
    background:#ffffff;
  }

  #mob_nav.layout_horiz ul li a {
    display:inline-block;
  }

  #mob_nav.layout_vert ul li,
  #mob_nav.layout_vert ul li a
  {
    display:block;
  }

  /* hide scroll on index */
  body.lens-index .mob_pag {
    display:none;
  }

  body.lens-essay .measure_editable,
  body.lens-archive-essays .measure_editable,
  body.lens-essays .measure_editable,
  body.lens-page .measure_editable,
  article.measure_editable
  {
    width:100%;
  }

  img.custom_logo {
    max-width:160px;
  }

  .social-links li a {
    padding:0 8px;
  }

  .cap_width {
    width:100%;
  }

  /*body::before{content: "ALL MOB";font-weight: bold;display: block;text-align: center;background: rgba(255,255,0, 0.9);position: fixed;top: 0;left: 0;right: 0;z-index: 9999;}*/
}

/* actual mob devices */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
{
  body.k_mob_show_norm #mob_nav,
  body.k_mob_show_min #mob_nav
  {
    position:fixed;
    top:0;
    left:0;
  }
  #mob_pag_down {
    display:block;
  }
}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {

  div#container,
  .mob_nav_content
  {
    width:100%;
  }

  /*body::before{content: "MOBILE LANDSCAPE";font-weight: bold;display: block;text-align: center;background: rgba(255,255,0, 0.9);position: fixed;top: 0;left: 0;right: 0;z-index: 9999;}*/

}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {

  div#container,
  .mob_nav_content
  {
    width:100%;
  }

  /*body::before{content: "MOBILE PORTRAIT";font-weight: bold;display: block;text-align: center;background: rgba(255,255,0, 0.9);position: fixed;top: 0;left: 0;right: 0;z-index: 9999;}*/

}

/* If screen is larger than max size page width, allow setting to apply */
@media only screen and (min-width: 960px) {
  div#container {
    width:calc(960px - 20px);
  }
}

/*
 * Mosaic image layout
 */

.mosaic {
  position:relative;
  display:block;
  list-style:none;
  padding:0;
  margin:0;
}
.mosaic:before, .mosaic:after {
  content: " ";
  display:table;
}
.mosaic:after {
  clear:both;
}
.mosaic > li {
  display:inline;
  height:auto;
  float:left;
  font-size:0 !important;
  line-height:0 !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mosaic img {
  max-height: none !important;
  vertical-align:baseline;
}

.mosaic-1 > li { width:100%; }
.mosaic-1 > li:nth-of-type(n) { clear:none; }
.mosaic-1 > li:nth-of-type(1n+1) { clear:both; }

.mosaic-2 > li { width:50%; }
.mosaic-2 > li:nth-of-type(n) { clear:none; }
.mosaic-2 > li:nth-of-type(2n+1) { clear:both; }

.mosaic-3 > li { width:33.333333333%; }
.mosaic-3 > li:nth-of-type(n) { clear:none; }
.mosaic-3 > li:nth-of-type(3n+1) { clear:both; }

.mosaic-4 > li { width:25%; }
.mosaic-4 > li:nth-of-type(n) { clear:none; }
.mosaic-4 > li:nth-of-type(4n+1) { clear:both; }

.mosaic-5 > li { width:20%; }
.mosaic-5 > li:nth-of-type(n) { clear:none; }
.mosaic-5 > li:nth-of-type(5n+1) { clear:both; }

.mosaic-6 > li { width:16.66667%; }
.mosaic-6 > li:nth-of-type(n) { clear:none; }
.mosaic-6 > li:nth-of-type(6n+1) { clear:both; }

.mosaic-7 > li { width:14.28571%; }
.mosaic-7 > li:nth-of-type(n) { clear:none; }
.mosaic-7 > li:nth-of-type(7n+1) { clear:both; }

.mosaic-8 > li { width:12.5%; }
.mosaic-8 > li:nth-of-type(n) { clear:none; }
.mosaic-8 > li:nth-of-type(8n+1) { clear:both; }

.mosaic-9 > li { width:11.11111%; }
.mosaic-9 > li:nth-of-type(n) { clear:none; }
.mosaic-9 > li:nth-of-type(9n+1) { clear:both; }

.mosaic-10 > li { width:10%; }
.mosaic-10 > li:nth-of-type(n) { clear:none; }
.mosaic-10 > li:nth-of-type(10n+1) { clear:both; }

.mosaic.edge > li {
  margin: 1px 1px 0 0;
}

.mosaic-1.edge li:first-child,
.mosaic-2.edge > li:nth-of-type(-n+2),
.mosaic-3.edge > li:nth-of-type(-n+3),
.mosaic-4.edge > li:nth-of-type(-n+4),
.mosaic-5.edge > li:nth-of-type(-n+5),
.mosaic-6.edge > li:nth-of-type(-n+6),
.mosaic-7.edge > li:nth-of-type(-n+7),
.mosaic-8.edge > li:nth-of-type(-n+8),
.mosaic-9.edge > li:nth-of-type(-n+9),
.mosaic-10.edge > li:nth-of-type(-n+10) { margin-top: 0 !important; }

.mosaic-1.edge li,
.mosaic-uneven:last-child,
.mosaic-2.edge > li:nth-of-type(2n),
.mosaic-3.edge > li:nth-of-type(3n),
.mosaic-4.edge > li:nth-of-type(4n),
.mosaic-5.edge > li:nth-of-type(5n),
.mosaic-6.edge > li:nth-of-type(6n),
.mosaic-7.edge > li:nth-of-type(7n),
.mosaic-8.edge > li:nth-of-type(8n),
.mosaic-9.edge > li:nth-of-type(9n),
.mosaic-10.edge > li:nth-of-type(10n) { margin-right:0 !important; }

.mosaic-2.edge > li:nth-of-type(2n+1),
.mosaic-3.edge > li:nth-of-type(3n+1),
.mosaic-4.edge > li:nth-of-type(4n+1),
.mosaic-4.edge > li:nth-of-type(4n+1),
.mosaic-5.edge > li:nth-of-type(5n+1),
.mosaic-6.edge > li:nth-of-type(6n+1),
.mosaic-7.edge > li:nth-of-type(7n+1),
.mosaic-8.edge > li:nth-of-type(8n+1),
.mosaic-9.edge > li:nth-of-type(9n+1),
.mosaic-10.edge > li:nth-of-type(10n+1) { margin-left: 0 !important; }

p.copyright {
  margin: 0;
}

.empty-state {
  font-style: italic;
}

@import "timeline";
@import "twitter";