#dock {
  left: 0px;
  right: 0px;
  top: 0px;
  height: 44px;
  background-color: #242424;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #1B1B1B;
  border-color: #1B1B1B;
  z-index: 99;
  padding: 0 10px;

  @include user-select(none);
}

#navigator {
  float: left;
  height: 45px;
  line-height: 45px;
  color: #fff;
  font-size: 18px;
  cursor: default;

  .divide-dot {
    color: #999;
  }

  .interface-name {
    position: relative;
    line-height: 45px;
    display: inline-block;
    height: 45px;
    color: #0274f2;
    cursor: pointer;
  }
}

.interface-dock {
  position: absolute;
  left: 162px;
  right: 30px;
  top: 0;
  height: 45px;
  display: flex;
  justify-content: space-between;
}

.pull-left {
  position: relative;
  height: 45px;
  @include pie-clearfix;
}

.pull-right {
  min-width: 170px;
}

.nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    @include pie-clearfix;
}

.nav-menu-item {
  float: left;
  position: relative;
  display: block;

  & > a, 
  & > span {
    position: relative;
    display: block;
    padding: 14px 15px 11px;
    line-height: 20px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
  }

  &.disabled > a,
  &.disabled > span {
    color: #999;
    cursor: default;
  }
}

.back-button {
  border-left: 1px solid rgba(255, 255, 255, .14);
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.group-menu {
   li:not(:last-child):after {
     content: "";
     position: absolute;
     width: 1px;
     height: 33%;
     background-color: rgba(255,255,255,.3);
     right: 0;
     top: 33%;
   }

   & > span {
     padding-left: 10px;
     padding-right: 10px;
   }
}

.nav-group-buttons {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 10px;

  $bordre-color: rgba(255, 255, 255, 0.3);
  .button {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    text-align: center;
    height: 24px;
    padding: 0;
    min-width: 50px;
    display: inline-block;
    background:#242424;
    border: 1px solid $bordre-color;
    border-left: 0px transparent;
    cursor: pointer;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    a {
      padding: 0 30px;
      color: #fff;
      text-decoration: none;
      line-height: 24px;
      height: 100%;
      display: block;
    }
  }

  .button:first-child {
    border-radius: 4px 0 0 4px;
    border-left: 1px solid $bordre-color;
  }

  .button:last-child {
    border-radius: 0 4px 4px 0;
  }

  .button:hover {
    background-color: rgba(255,255,255,.1);
  }

  .button.active,
  .button.active:hover {
    background-color: #555555;
    border-color: rgba(255,255,255,.1);
  }

}

.slider {
  width: 63px;
  height: 15px;
  top: 50%;
  margin-top: -7px;
  position: relative;
  left: 30px;
  outline: 0;
  float: left;

  -moz-user-select: none !important;
  -ms-user-select: none !important;
  -webkit-user-select: none !important;
  user-select: none !important;
  cursor: default !important;

  &:before {
    content: '';
    position: absolute;
    left: -15px;
    top: 4px;
    width: 9px;
    height: 7px;
    background-image: url(/assets/picture-small.png);
  }

  &:after {
    content: '';
    position: absolute;
    right: -18px;
    top: 3px;
    width: 12px;
    height: 9px;
    background-image: url(/assets/picture.png);
  }

  .slider-track {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #cccccc;
    border-radius: 100px;
    box-sizing: border-box;
    height: 3px;
    top: 6px;
  }

  .goog-slider-thumb {
    position: absolute;
    border-radius: 100px;
    box-sizing: border-box;
    width: 11px;
    height: 11px;
    top: 2px;
    left: 0;
    border: 1px solid lighten(#6c6c6c, 20%);
    background-color: #6c6c6c;
  }

  &:hover .goog-slider-thumb {
    background-color: lighten(#6c6c6c, 20%);
    border-color: lighten(#6c6c6c, 40%);
  }

  &:active .goog-slider-thumb {
    background-color: lighten(#6c6c6c, 40%);
    border-color: lighten(#6c6c6c, 40%);
  }
}

#upload-input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
  line-height: 45px;
  cursor: pointer;
}
