.dropdown {
  position: absolute;
  min-width: 160px;
  padding: 5px 0px;
  margin: 2px 0px 0px;
  font-size: 14px;
  text-align: left;
  list-style: outside none none;
  box-sizing: border-box;
  background-color: #FFF;
  background-clip: padding-box;
  border-radius: 4px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.15),0px 0px 1px 1px rgba(0,0,0,0.1);
  z-index: 100;
}

.triangle-with-shadow {
  position: absolute;
  width: 33px;
  height: 15px;
  z-index: 2;
  left: 50%;
  margin-left: -16px;
  top: -15px;
  overflow: hidden;
  /* box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5); */
}
.triangle-with-shadow:after {
  content: "";
  position: absolute;
  width: 22px;
  height: 50px;
  background: #fff;
  transform: rotate(45deg);
  top: 2px;
  left: -4px;
  box-shadow: -1px -1px 7px -1px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.dropdown.pull-right .triangle-with-shadow {
  left: auto;
  right: 50px;
}

.dropdown-panel {
  padding: 4px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.15),0px 0px 1px 1px rgba(0,0,0,0.1);
}

.dropdown-menu {

  font-size: 15px;

  a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 300;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
    cursor: default;
    text-decoration: none;
  }

  li:not(.disabled) a:hover {
    text-decoration: none;
    background-color: rgba(0,122,255,0.15);
    color: #000;
  }

  .divider {
    height: 1px;
    margin: 4px 0px;
    overflow: hidden;
    background-color: #E5E5E5;
  }

  li.disabled a {
    color: #A0A0A0;
  }
}

#dropdown-backdrop {
  position: fixed;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}

#dropdown-backdrop.active {
  display: block;
}

.dropdown-panel:before {
  $padding: 4px;
  content: '';
  position: absolute;
  box-sizing: border-box;
  left: $padding;
  right: $padding;
  top: $padding;
  bottom: $padding;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.1);
}
