#editor {
  // max-width: 740px;
  background-color: #fff;
}

.document {
  width: 700px;
  margin: 0 auto;
  padding-top: 40px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  clear: both;
  cursor: auto;
}

.document-title {
  width: 100%;
  cursor: text;

  .document-title-wrap {
    padding: 0 40px;
  }

  h2 {
    margin: 0 auto;
    border: 1px solid #fff;
    color: #000;
    font-weight: 300;
    font-size: 26px;
    outline: 0;
  }

  h2:empty:before{
    content: attr(data-placeholder);
    display: block; /* For Firefox */
    color: #999;
  }
}

.document-blocks,
.document-blocks:focus {
  position: relative;
  outline: 0;
  box-shadow: none!important;
  margin: 0!important;
  overflow: auto;
  white-space: normal;
  background: 0 0;
}

.document-blocks {
  padding: 26px 40px 40px;
  text-align: left;
}

#entry-edit {
  overflow: scroll;
}

.document-blocks > * {
  margin: 0 0 28px;
  min-height: 32px;
}

.document-blocks {

  p, ul {
    font-size: 22px;
    line-height: 32px;
    font-weight: normal;
  }

  ul {
    counter-reset: post;
    list-style: outside none none;

    li {
      margin-left: 24px;
      margin-bottom: 2px;
      padding-top: 1px;
    }

    li:before {
      position: absolute;
      display: inline-block;
      box-sizing: border-box;
      width: 58px;
      margin-left: -58px;
      text-align: right;

      padding-top: 4px;
      padding-right: 9px;
      font-size: 12px;
      content: "•";
    }
  }

  p {

    strong {
      font-weight: 700;
      color: #555;
    }

    a {
      color: inherit;
      text-decoration: underline;
    }
  }

}

.document-blocks > figure {
  box-sizing: border-box;
  clear: both;
  outline: medium none;
  position: relative;

  .image-wrapper {
    position: relative;
    width: 100%;
    margin: 0px auto;
  }

  img {
    display: block;
    margin: auto;
    max-width: 100%;
    box-sizing: border-box;

    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }

  figcaption {
    position: relative;
    width: 100%;
    text-align: center;
    left: 0px;
    margin-top: 10px;
    top: 0px;
    font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: 0.01rem;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.6);
    outline: 0px none;
    z-index: 300;
  }
}

.document-blocks > figure.selected img {
  box-shadow: 0px 0px 0px 3px #57AD68;
}

.dropline {
  position: fixed;
  width: 520px;
  height: 14px;
  margin-left: 40px;
  z-index: 20000;
}

.dropline > .horizontal {
  position: absolute;
  width: 100%;
  height: 1px;
  top: 50%;
  left: 0;
  background-color: #00a7fb;
}

.dropline > .horizontal:before,
.dropline > .horizontal:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 10px;
  border: 2px solid #00a7fb;
}

.dropline > .horizontal:before {
  top: -4px;
  left: -7px;
}

.dropline > .horizontal:after {
  top: -4px;
  right: -7px;
}

.redactor_air {
  transition: top 75ms ease-out 0s, left 75ms ease-out 0s;
}

.document-blocks p:first-child:empty:before{
    content: "enter text";
    display: block; /* For Firefox */
    color: #999;
}