$inspector-header-height: 33px;

.inspector {
  position: absolute;
  width: 280px;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.inspector:before {
  content: "";
  display: block;
  position: absolute;
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
}

.inspector-header {
  height: $inspector-header-height;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: transparent;
}

.inspector-body {
  position: absolute;
  left: 0;
  top: $inspector-header-height + 1px;
  right: 0;
  bottom: 0;
}

.inspector-close-icon {
  border-radius: 3px;
  position: absolute;
  top: 7px;
  left: 7px;
  display: block;
  width: 20px;
  height: 20px;
  background-size: 20px 60px;
  background-color: transparent;
  background-image: image-url("cross.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
}

.inspector-title {
  margin: 0;
  position: absolute;
  left: 34px;
  top: 0;
  bottom: 0;
  line-height: 35px;
}

.inspector-light {
  &:before {
    // #d5d5d5 to #a6a6a6
    background: rgba(213,213,213,1);
    background: -moz-linear-gradient(top, rgba(213,213,213,1) 0%, rgba(166,166,166,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(213,213,213,1)), color-stop(100%, rgba(166,166,166,1)));
    background: -webkit-linear-gradient(top, rgba(213,213,213,1) 0%, rgba(166,166,166,1) 100%);
    background: -o-linear-gradient(top, rgba(213,213,213,1) 0%, rgba(166,166,166,1) 100%);
    background: -ms-linear-gradient(top, rgba(213,213,213,1) 0%, rgba(166,166,166,1) 100%);
    background: linear-gradient(to bottom, rgba(213,213,213,1) 0%, rgba(166,166,166,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5d5d5', endColorstr='#a6a6a6', GradientType=0 );
  }
  .inspector-header {
    background-color: #f5f4f4;
    border-bottom-color: #dadada;

    .inspector-close-icon {
      background-position: 0 0;
    }
    .inspector-close-icon:hover {
      background-position: 0 -40px;
    }
  }
  .inspector-body {
    background-color: rgba(255, 255, 255, 0.94);
  }

  color: #333;
}

.inspector-dark {
  &:before {
    background-color: #1e1e1e;
  }
  .inspector-header {
    background-color: #191919;
    box-shadow: inset 0 2px 2px -2px rgba(255,255,255,.3);
    border-bottom-color: #161616;

    .inspector-close-icon {
      background-position: 0 0;
    }
    .inspector-close-icon:hover {
      background-position: 0 -20px;
    }
  }
  .inspector-body {
    background-color: #1e1e1e;
  }

  color: #949494;
}

.col-block {
  position: relative;
  font-size: 12px;
  clear: both;
  overflow: auto;
  padding-bottom: 5px;

  font-family: HelveticaNeue-Medium,"Helvetica Neue Medium","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.col-block:last-child {
  border-bottom: none;
}

.col-head {
  box-sizing: border-box;
  clear: both;

  h6 {
    color: #585858;
    text-transform: uppercase;
    font-weight: 700;
    font-family: HelveticaNeue-Bold,Helvetica,Arial,sans-serif;
    font-size: 11px;
    cursor: default;
    margin: 0;

    a {
      height: 14px;
      color: #666;
      cursor: default;
      text-decoration: none;
    }
  }
}

.col-head .in {
  display: block;
  padding: 5px 10px 5px 8px;
}

.col-row {
  box-sizing: border-box;
  position: relative;
  float: left;
  clear: both;
  overflow: visible;
  margin: 0;
  padding: 4px 10px;
  width: 100%;
  line-height: 24px;
}

.col-row .label {
  box-sizing: border-box;
  float: left;
  clear: both;
  padding: 0 5px 0 0;
  width: 30%;
  text-align: right;

  label {
    color: #666;
    cursor: default;
  }
}

.col-row .value {
  box-sizing: border-box;
  display: inline-block;
  overflow: visible;
  padding: 0 0 1px 5px;
  width: 69%;
  vertical-align: top;
  word-wrap: break-word;
}

input[type="text"],
textarea {
  -webkit-transition: all;
  -moz-transition: all;
  transition: all;
  -webkit-transition-property: all;
  -webkit-transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: all;
  -moz-transition-duration: 200ms;
  -moz-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 200ms;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 200ms;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
  margin: 0;
  padding: 4px 7px 3px;
  border: 1px solid #000;
  box-shadow: 0 1px 0 #272727;
  background: #131313;
  color: #777;
  vertical-align: middle;
  font-size: 12px;
  line-height: 1.5;
  resize: none;
  outline: 0;
}

.inspector-light {
  input[type="text"],
  textarea {
    border: 1px solid #ddd;
    box-shadow: 0 1px 0 #fff;
    background: #fff;
    color: #333;
  }
}

input, textarea {
  color: #909090;
  font-size: 12px;
  -webkit-font-smoothing: subpixel-antialiased;
}

input.side-col, textarea.side-col {
  padding: 3px 5px;
  font-size: 12px;
  line-height: 15px;
}

.col-row input[type=text], .col-row textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.col-row .col-value {
  margin-right: 4px;
  display: inline-block;
}

.col-row .edit-link {
  display: inline-block;
  margin: 0 0 0 3px;
  color: #666;
  text-decoration: none;
}

.col-row .edit-link:hover {
  outline: 0;
  color: inherit;
}

.col-row.button-row {
  text-align: center;
}

.inspector-light {
  .col-row .edit-link {
    display: inline-block;
    margin: 0 0 0 3px;
    color: #666;
    text-decoration: none;
  }

  .col-row .edit-link:hover {
    outline: 0;
    color: inherit;
  }
}
