.interface {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 45px;
  bottom: 0px;
  min-width: 950px;
  overflow-x: hidden;
  overflow-y: auto;

  cursor: default;
  @include user-select(none);
}
