#library-interface {
  background-color: #57575d;
  color: #fff;
}

.media {
  padding: 80px 0;
  @include pie-clearfix;
  position: relative;

  @include transition-property(bottom);
  @include transition-duration(0.2s);
  @include transition-timing-function(linear);
}

#library-interface.uploading .media {
  bottom: 33px;
}

.media-entity {
  position: relative;
  display: inline-block;
  margin: 0 0 10px 10px;
  padding: 12px 12px 4px;
  width: 100px;
  color: #707070;
  text-align: center;

  list-style-type: none;
  float: left;
}

.media-entity .content {
  position: relative;
  display: table-cell;
  width: 100px;
  height: 100px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  vertical-align: middle;
  text-align: center;
}

.media-entity span.title {
  position: relative;
  display: none;
  overflow: hidden;
  margin: 9px auto 0;
  padding: 0 4px;
  color: #fff;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: none;
  font-size: 10px;
  -webkit-transition: color;
  -moz-transition: color;
  transition: color;
  -webkit-transition-property: color;
  -webkit-transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: color;
  -moz-transition-duration: 200ms;
  -moz-transition-timing-function: linear;
  -ms-transition-property: color;
  -ms-transition-duration: 200ms;
  -ms-transition-timing-function: linear;
  -o-transition-property: color;
  -o-transition-duration: 200ms;
  -o-transition-timing-function: linear;
  transition-property: color;
  transition-duration: 200ms;
  transition-timing-function: linear;
  -moz-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  font-size: 10px;
  line-height: 14px;
}

.media-entity .img-wrap {
  position: relative;
  display: block;
  margin: 0 auto;
  background-size: 16px 16px;
  background-color: rgba(0,0,0,.2);
  background-position: 50% 50%;
  background-repeat: no-repeat;

  img {
    position: relative;
  }
}

.media-entity.selected .img-wrap {
  outline: #2679fb solid 2px;
}

.section-header {
  position: relative;
  font-size: 17px;
  height: 35px;
  line-height: 37px;
  font-weight: 300;
  box-sizing: border-box;
  color: #fff;

  .title {
      padding-left: 12px;
  }

  .separator {
    top: 35px;
    left: 12px;
    right: 12px;
    display: block;
    position: absolute;
    height: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.11);
  }
}

#collections {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  min-width: 950px;
  overflow-x: hidden;
  overflow-y: auto;
}

.gallery {
  width: 200px;
  height: 200px;
  position: relative;
  display: inline-block;
  margin: 0 0 24px 24px;

  &:before {
    content: "";
    right: 15px;
    left: 15px;
    top: -4px;
    height: 1px;
    background: #afb7bc;
    position: absolute;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }

  &:hover:before {
    top: -6px;
    background-color: #8c9296;
  }

  &:after {
    content: "";
    position: absolute;
    right: 10px;
    left: 10px;
    top: -2px;
    height: 1px;
    background: #afb7bc;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }

  &:hover:after {
    top: -3px;
    background-color: #8c9296;
  }
}

.galleries {
  padding: 60px 40px 10px;
}

.gallery .overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(to top,rgba(0,0,0,0.9) 0,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%);
}

.gallery .cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.gallery .metadata {
  color: #fff;
  padding: 0 20px;
  bottom: 20px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;

  .title {
    text-shadow: 0 1px 1px black;
    line-height: 20px;
    word-break: break-word;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
  }

  .pictures-count {
    font-size: 14px;
    text-shadow: 0 1px 1px black;
    color: rgba(255,255,255,.7);
    margin-top: 4px;
  }
}
