$modal-box-header-height: 33px;

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: 600px;
  margin: 120px auto;
  left: auto;
  margin-right: auto;
  margin-left: auto;
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  overflow: hidden;
}

.modal-header {
  min-height: 16.43px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;

  .modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-size: 18px;
    font-weight: 500;
  }

  button.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
  }
}

.modal-body {
  position: relative;
  padding: 15px;

  font-size: 14px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.modal-footer .button+.button {
  margin-bottom: 0;
  margin-left: 7px;
}

.modal-dark {

  color: #949494;

  button.close {
    color: #fff;
    text-shadow: none;
  }

  .modal-content {
    background-color: #202020;
  }

  .modal-header {
    background-color: #242424;
    box-shadow: inset 0 2px 2px -2px rgba(255,255,255,.3);
    border-bottom-color: #000;
  }

  .modal-footer {
    background-color: #242424;
    box-shadow: inset 0 2px 2px -2px rgba(255,255,255,.2);
    border-top-color: #000;
  }
}
