.scroll_wrapper {
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

.scroll_track {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 30;
  min-height: 50px;
  width: 18px;
  height: 100%;
  pointer-events: none;
}

.scroll_content {
  overflow: hidden;
  padding-right: 10px;
  height: auto;
}

.scroll_track_footer {
  width: 17px;
  height: 100%;
  border-left: 1px solid #000;
  background: #202020;
}

.scroll_bar {
  position: absolute;
  left: 0;
  min-height: 20px;
  width: 18px;
  height: 0;
}

.scroll_bar_grab {
  -moz-border-radius: 19px;
  border-radius: 19px;
  position: absolute;
  top: 4px;
  left: 6px;
  width: 7px;
  background: #303030;
}

.scroll_bar_grab {
  height: -webkit-calc(100% - 8px);
  height: -moz-calc(100% - 8px);
  height: calc(100% - 8px);
}

.scroll_track_off, 
.scroll_track_off .scroll_track_footer {
    border-left: none!important;
    background: none!important;
}