$spinner-color: rgba(255, 255, 255, 1);
$spinner-size: 18px;

.spinner {
  display: block;
  opacity: 0;
  position:absolute;
  left:50%;
  top:50%;
  height: $spinner-size;
  width: $spinner-size;
  margin-left:calc((20px / 2) * -1);
  margin-top:calc((20px / 2) * -1);
  z-index:999;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.spinner.active {
  opacity: 1;
}

.spinner-circle {
  display: block;
  height: $spinner-size - 2px;
  width: $spinner-size - 2px;
  margin:0 auto;
  position:relative;
  -webkit-animation: rotation 0.7s infinite linear;
  -moz-animation: rotation 0.7s infinite linear;
  -o-animation: rotation 0.7s infinite linear;
  animation: rotation 0.7s infinite linear;
  border:1px solid rgba(0,0,0,0.15);
  border-radius:100%;
}

.spinner-circle:before {
  content:"";
  display:block;
  position:absolute;
  left:-1px;
  top:-1px;
  height:100%;
  width:100%;
  border-top:1px solid rgba(0,0,0,1);
  border-left:1px solid transparent;
  border-bottom:1px solid transparent;
  border-right:1px solid transparent;
  border-radius:100%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* more pronounced spinner for changing images */
.spinner.init .spinner {
  border-color:rgba(0,0,0,0.8);
}
.spinner.init .spinner:before {
  border-top-color:white;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}
