#text-dock {

}

#essay-title {
  display: inline-block;
  text-align: center;
  margin-top: 12px;
  cursor: default;

  .title {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 500;
    display: inline;
    font-size: 15px;
    color: #fff;
    line-height: 21px;
  }
}

#text-interface {
  background-color: #e4e4e4;
}

.entries {
  width: 600px;
  margin: 80px auto;
}

.entry {
  position: relative;
  padding-bottom: 35px;
  margin-bottom: 35px;

  &.has-cover {
    padding-right: 132px;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 1px;
    background-color: rgba(0,0,0,.1);
  }

  &:last-child:after {
    display: none;
  }
}

.entry-state {
  position: absolute;
  right: 100%;
  top: 0;
  line-height: 28px;
  margin-right: 17px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  text-transform: uppercase;
}

.entry-cover {
  position: absolute;
  right: 0;
  top: 0;
  width: 120px;
  height: 120px;
  border: 1px solid #999;
}

.entry-title {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
  line-height: 28px;
}

.entry-excerpt {
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
  color: rgba(0,0,0,0.5);
  margin-bottom: 4px;
}

.entry-pictures {
  margin-top: 7px;
  @include pie-clearfix;
}

.entry-picture {
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 12px;
  border: 1px solid rgba(0,0,0,0.2);
}

.entry-footer {
  margin-top: 7px;
  font-size: 14px;
  color: rgba(0,0,0,0.5);

  .sep {
    margin: 0 8px;
    color: rgba(0,0,0,0.3);
    text-shadow: 1px 1px 1px #fff;
    font-weight: normal;
  }

  .group {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      height: 100%;
      width: 1px;
      background-color: red;
      display: none;
    }

    &:last-child {
      margin-right: 0;
      padding-right: 0;

      &:after {
        display: none;
      }
    }
  }

  .btn {
    cursor: pointer;

    &:hover {
      cursor: pointer;
      border-bottom: 1px dashed #999;
    }

    &:active {
      color: rgba(0,0,0,0.7);
    }
  }
}
