#upload-bar {
  height: 32px;
  bottom: -33px;
  transform: translateZ(0px) translateY(0px);
  background: rgba(255, 255, 255, 0.95);
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.12);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 3;
  font-size: 13px;
  transition: transform 1s;
}

#library-interface.uploading #upload-bar {
  transform: translateZ(0px) translateY(-33px);
}

.upload-status {
  position: absolute;
  margin-top: 8px;
  left: 38px;
  color: #424242;
}

.progress-bar {
    position: absolute;
    margin-top: 14px;
    background: #D9D9D9;
    border-radius: 50px;
    height: 4px;
    overflow: hidden;
    right: 75px;
    left: 172px;

    .fill {
      position: absolute;
      background: #007AFF;
      border-radius: 50px;
      height: 100%;
      -moz-transition-property: width;
      -o-transition-property: width;
      -webkit-transition-property: width;
      transition-property: width;
      -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;

      width: 51.016563898479%;
    }
}

.cancel-button {
    position: absolute;
    margin-top: 8px;
    right: 13px;
    color: black;
    opacity: 0.6;
    cursor: pointer;
}

.cancel-button:hover {
  opacity: 1;
}

#upload-bar .spinner {
  position: absolute;
  left: 22px;
}
