#uploader-dropdown {
  width: 500px;
  height: 300px;
}

#uploader-dropdown .dropzone {
  position: absolute;
  box-sizing: border-box;
  left: 4px;
  right: 4px;
  top: 4px;
  bottom: 4px;
  border-radius: 5px;

  .inner {
    padding: 90px 20px;
    text-align: center;

    h3 {
      color: rgba(0,0,0,.8);
      font-weight: 500;
    }

    p {
      color: rgba(0,0,0,.5);
    }
  }
}

#uploader-bar {
  height: 32px;
  bottom: -33px;
  background: rgba(255, 255, 255, 0.95);
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.12);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 3;
  font-size: 13px;
  @include transition-property(bottom);
  @include transition-duration(0.2s);
  @include transition-timing-function(linear);
}

#library-interface.uploading #uploader-bar {
  bottom: 0;
}

#uploader-bar .progress-bar {
    position: absolute;
    margin-top: 14px;
    background: #D9D9D9;
    border-radius: 50px;
    height: 4px;
    overflow: hidden;
    right: 75px;
    left: 172px;

    .fill {
      position: absolute;
      background: #007AFF;
      border-radius: 50px;
      height: 100%;
      -moz-transition-property: width;
      -o-transition-property: width;
      -webkit-transition-property: width;
      transition-property: width;
      -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;

      width: 51.016563898479%;
    }
}

#uploader-bar {

  .uploader-status {
    position: absolute;
    margin-top: 8px;
    left: 38px;
    color: #424242;
  }

  .spinner {
    position: absolute;
    left: 22px;
  }

  .cancel-button {
      position: absolute;
      margin-top: 8px;
      right: 13px;
      color: black;
      opacity: 0.6;
      cursor: pointer;
  }

  .cancel-button:hover {
    opacity: 1;
  }
}
