$animation-time: 200ms;

#media-viewer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.media-backdom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

#media {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#image-viewer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #57575d;
  overflow: hidden;

  img {
    height: 100%;
    margin: 0 auto;
  }
}

.previous-button,
.next-button {
  width: 30px;
  height: 30px;
  margin-top: -15px;
  position: absolute;
  top: 50%;
  background-color: green;
  cursor: pointer;

  background-size: cover;
  background-color: rgba(0,0,0,.3);

  &:hover {
    background-color: rgba(0,0,0,.5);
  }

  &:active {
    background-color: rgba(0,0,0,.7);
  }
}

.previous-button {
  left: 13px;
  background-image: url(/assets/arrow-white-backward-128.png);
}

.next-button {
  right: 13px;
  background-image: url(/assets/arrow-white-forward-128.png);
}
