@import "compass";

// Core variables and mixins
@import "variables";
@import "mixins";

// Reset and dependencies
@import "normalize";

// Core CSS
@import "buttons";
@import "spinner";
@import "dropdown";
@import "scrollbar";

@import "dock";
@import "interface";
@import "modal";

@import "library";
@import "viewer";
@import "uploader";
@import "inspector";

@import "text";
@import "editor";
@import "redactor";

@import "site";

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica Neue', sans-serif;
}

#container {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  min-width: 950px;
  overflow: hidden;
}
